<!-- START PRELOADER -->
<div class="preloader">
  <div class="status">
      <div class="status-mes">
          <div class="loader">
              <div class="loader__bar"></div>
              <div class="loader__bar"></div>
              <div class="loader__bar"></div>
              <div class="loader__bar"></div>
              <div class="loader__bar"></div>
              <div class="loader__ball"></div>
          </div>
      </div>
  </div>
</div>	
 <!-- Start Slider Area -->
 <section id="slider_area">
    <div class="slider_active owl-carousel">
        <div class="slider_item1 single_slide">
            <div class="container">	
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">    
                    <div class="slider_content slider-animated-1">
                            <h2 class="animated"> <span> INCREASE YOUR BUSINESS </span> WITH <span> OURS
                             </span>  <span align="center"> SCALABLE  </span> SOFTWARE <span align="center"> SOLUTIONS</span></h2>
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>	
                    </div>
                </div>						
            </div>
        </div>
        
        <div class="slider_item2 single_slide">
            <div class="container">		
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content text-center slider-animated-2">
                            <h2 class="animated"> <span>ADVANCED </span> SOLUTIONS</h2>
                            <span class="sl_heading animated">We study your needs to offer you the most suitable solutions</span><br>
                            <span class="sl_heading animated"> for your business</span> 
                            <br>
                            <a href="#" class="animated btn main_bg_btn">learn more</a>
                        </div>	
                    </div>
                </div>	
            </div>
        </div>
            <div class="slider_item4 single_slide">
                <div class="container">	
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content slider-animated-2">
                                <h2 class="animated"> The software<span> solution </span> for your <span>business</span>  </h2>
                                <span class="sl_heading animated">Magazine, Accounting, Invoicing</span>
                                <br>
                                <a href="#" class="animated btn main_bg_btn">learn more</a>
                            </div>	
                        </div>
                    </div>						
                </div>
            </div>
      </div>
      </section>
<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="container ">
      <div class="col-md-12">
        <div class="card card-container" align="center">
          <img  src="../../assets/img/mss2.png" style="width: 60%;"align="center"/><br><br><br>
          <form name="form"   #emailForm="ngForm" (ngSubmit)="onResetPassword(emailForm)">
            <div class="form-group">
              <input type="email" class="form-control" name="reset-password-email" id="reset-password-email" ngModel required />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" [disabled]="emailForm.invalid" type="submit">
                <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                <span *ngIf="refreshing">Loading...</span>
                <span *ngIf="!refreshing">Reset</span>
              </button>
            </div>
            <div class="flexbox mb-5">
              <small class="form-text text-right" ><a style="text-decoration: none;" routerLink="/login" (click)="login()" class="text-muted">login</a></small>
            </div>
          </form>
        </div>
      </div>

    </div>
